// DSS theme

// colours
$dss-blue: #0a7ad0;
$dss-white: white;
$dss-grey: #b3b3b3;
$dss-font-colour: #333333;

$base-font-color: $dss-font-colour;

// components
$header-height: 3.5em;
$header-font-size: 1.471em;
$header-color: $dss-white;
$header-background-color: $dss-blue;
$header-border-color: $dss-grey;
