//
// Shared variables that can be used across modules
//

// Font
$font-stack-system: 'Lato', 'Open Sans', sans-serif;

// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$header-font-size: 1.2em !default;
$header-height: 3em !default;
$header-bottom-border-width: 0.5em;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$dark-orange: #ff8c00;

// Font Colors
$base-font-color: $dark-gray !default;
$h6-font-color: $medium-gray !default;
$action-color: $blue;
$header-color: white !default;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$header-border-color: grey !default;

// Background Colors
$viewport-background-color: #fff;
$header-background-color: black !default;

// Focus
$focus-color: $dark-gray;
$focus-background-color: $dark-orange;
$focus-outline-color: $dark-orange;
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
