// DSS theme

// colours
$dss-blue: #0a7ad0;
$dss-white: white;
$dss-grey: #b3b3b3;
$dss-font-colour: #333333;

$base-font-color: $dss-font-colour;

// components
$dss-nav-border-height: 0.5em;

footer {
  color: $dss-white;
  background-color: $dss-grey;
  border-top: 1px solid gray;
  height: 3em;
  padding-top: 0.75em;
}

.toc-container {
  border-right: 1px solid $dss-grey;
}

//
// Bootstrap customisations
//
$theme-colors: (
  "primary": $dss-blue
);

.navbar {
  background-color: $dss-blue;
  border-bottom: solid $dss-nav-border-height $dss-grey;
}

.container-fluid .row {
  &:before {
    margin-top: 3em;
  }
}
